:root {
    --primary-color: rgba(7, 32, 46, 0.78);
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --menu-speed: 0.75s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}
.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}
.showcase {
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
}
.showcase:before {
    content: '';
    background: url('img/banner.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.showcase h1 {
    font-size: 4rem;
}

.showcase p {
    font-size: 1.3rem;
}
.btn {
    display: inline-block;
    border: none;
    background: #000;
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
}
.btn:hover {
    opacity: 0.7;
}
#home{
    background-color: #FBFBFB;
    height: 100vh;
}
#home img{
    width: 100%;
    height: 60%;
}
#about{
    height: 100vh;
    background-color: #F1F5F8;
}
#about img{
    height: 100%;
    width: 100%;
    padding: 20px;
}
#about p{
    text-align: justify;
}
#service{
    text-align: center;
    height: 100vh;
}
#service i{
    padding: 5%;
    border: 2px solid black;
    border-radius: 50%;
}
#service i:hover{
    background: black;
    color: white;
    border: 2px solid white;
}
#team img{
    width: 50%;
}
#contact{
    background-image: url("img/about_us.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    color: white;
}
footer ul li{
    list-style-type: none;
}
@media screen and (max-width: 576px){
    .showcase h1 {
        font-size: 10vw;
    }
    #home{
        height: auto;
    }
    #home img{
        width: 100%;
        height: 80%;
    }
    #about{
        height: auto;
        margin-top: -20%;
    }
    #about h3{
        font-size: 6vw;
    }
    #service{
        height: auto;
    }
    #service .card{
        margin-bottom: 5px;
    }
    #team .card{
        margin-bottom: 5px;
    }
}